# PostgreSQL Database Credentials for Siddhu Car Rentals
PORT=5000
NODE_ENV=production
ADMIN_PASSWORD=siddhu@2026

# Remote PostgreSQL Server
PGHOST=168.119.64.101
PGPORT=5432
PGUSER=siddh876
PGPASSWORD=tInlqWg3BkGLd1Yg6qfd98cex
PGDATABASE=siddh876
PGSSL=false

# Full Connection URL
DATABASE_URL=postgresql://siddh876:tInlqWg3BkGLd1Yg6qfd98cex@168.119.64.101:5432/siddh876
